.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  height: 100vh;
  width: 100%;

  background: rgb(75, 169, 181);
  background: linear-gradient(
    180deg,
    rgba(75, 169, 181, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.login h1 {
    font-size: 86px;
    color: #fff;
    font-weight: 400;
}

.login p {
    font-size: 26px;
    font-weight: 200;
    color: #fff;
}

.logo {
    width: 200px;
    height: 100%;

    top: 0;
    left: 20px;
    position: absolute;
}

.login input:focus {
  background-color: var(--blue-300);
}