.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    margin-left: 250px;
}

.card {

    display: flex;
    flex-direction: column;

    border: 2px solid midnightblue;
}