.navbar {
    background-color: var(--gray-500);
    height: 100vh;
    width: 324px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navbar span {
    color: #fff;
    font-size: 1.8em;
}

.navbar ul {
    display: flex;
    flex-direction: column;
}

.navbar li {
    list-style: none;
    padding: 1em 0;
    font-size: 18px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.navbar li:hover {
    background-color: var(--gray-600);
    width: 108%;
}


.logo {
    width: 200px;
    margin: 0 auto;
    padding-top:20px;
}

.logout {
    margin: 10px auto;
}