* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: E6FCFF;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue-900: #012c3d;
  --blue-700: #003047;
  --blue-300: #85b4bd;
  --blue-200: #439eaa;
  --blue-100: #51babd;
}

.container {
  width: 100%;
  overflow: auto;
}

input::placeholder,
textarea::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: var(--blue-200);
}

input:focus,
textarea:focus {
  outline: none;
  
}

a {
  text-decoration: none;
  border: none;
  color: #fff; 
}


label {
  display: flex;
  align-items: center;
  margin: 2em 0;
  border-bottom: 1px solid var(--blue-700);
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  
  padding: 0.8em 0;
  background-color: transparent;
}

.btn {
  background-color: var(--blue-700);
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 120px;
  padding: 15px 0px;
  font-size: 12px;
}

.btn:hover {
  background-color: var(--blue-900);
}

.btn.btn-outline {
  background-color: var(--blue-700);
  border-radius: 5px;
  color: #fff;
  padding: 10px 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
}


.btn.btn-danger:hover {
  background-color: #721c24;
}

button[disable] {
  background-color: #aaa;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
  max-width: 100%;
  margin: 1em auto;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
  padding: 125px 125px 0 125px;
}

.page_title {
  text-align: left;
  color: var(--blue-700);
  font-size: 64px;
  padding: 50px 0 0 50px;
  position: fixed;
  background-color: white;
  width: 100%;
}